/* Réinitialisation des marges et du padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fond général de la page */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

/* Header */
header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header .logo h1 {
    font-size: 2em;
}

/* Navigation */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Section de contenu principal */
.football-content {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
}

.football-content h2 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 20px;
}

.football-content p {
    text-align: center;
    margin-bottom: 30px;
}

/* Conteneur des clubs */
.clubs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

/* Chaque club */
.club {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    box-sizing: border-box;
    text-align: center;
}

.club img {
    width: 100%;
    height: auto;
    max-width: 200px;
    margin: 20px 0;
}

/* Section des joueurs */
.players {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-around;
}

/* Chaque joueur */
.player {
    width: 120px;
    text-align: center;
}

.player img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 2px solid #333;
}

.player p {
    font-size: 1em;
    font-weight: bold;
    margin-top: 5px;
    text-align: center;
}

/* Description des joueurs */
.player p + p {
    font-size: 0.9em;
    color: #555;
    margin-top: 5px;
}

footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 1em;
}

/* Responsivité pour les petits écrans */
@media (max-width: 768px) {
    .club {
        width: 48%;
    }

    .player {
        width: 90px;
    }

    .player img {
        width: 80px;
        height: 80px;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}


@media (max-width: 480px) {
    .club {
        width: 100%;
    }
    
    .player {
        width: 80px;
    }

    .player img {
        width: 70px;
        height: 70px;
    }
}
